:root {
    --bgColor: #181a1b;
    --boxColor: #1f2123;
    
    margin: auto;
    max-width: 50rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: white !important;
    font-family: "montserrat";
}

body {
    background-color: var(--bgColor);
}


@font-face {
    font-family: "monospace";
    src: url(/assets/fonts/SpaceMono-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "montserrat";
    src: url(/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}

.main-text {
    font-size: large;
}

.main-text a {
    color: aqua;
    text-decoration: none;
}

.inline {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav div * {
    display: inline;
    font-family: "monospace";
    text-align: center; 
}

hr {
    color: aqua;
}

h3 {
    margin-top: 0;
}

.header {
    background-color: var(--boxColor);
    border-radius: 5px;
    
}

.header a {
    text-decoration: none;
}

.warning {
    background-color: #52551a;
    border: 2px solid #f2d600;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 5px;
    font-style: italic;
}

.warning strong {
    color: white;
}

.warning-label {
    font-style: normal !important;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20; 
}

.navbar li {
    transition: all 0.2s ease;
    display: inline-flex;
}

.navbar li:hover {
    color: aqua;
    
}

.navbar a {
    transition: all 0.2 ease;
}

.navbar a:hover {
    text-decoration-color: aqua;
}

nav ul {
    align-self: center;
    margin: 0;
}

nav ul li{
    display: inline;
    margin-right: 1rem;
    font-family: "monospace";
    font-weight: bolder;
    font-size: large;
}

button, input {
    background-color: var(--bgColor);
    color: white;
    border: solid aqua 1px;
    border-radius: 5px;
}

.post {
    background-color: var(--boxColor);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.post-header h1 {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    font-size: 1.7rem;
    text-decoration: none !important;
}

.post-header p {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}

.post-preview {
    padding: 1rem;
    border: 1px solid #444;
    border-radius: 5px;
    background: var(--boxColor);
    margin: auto;
    font-weight: 300;
    color: white;
    justify-content: left;
}

.post-preview a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.post-preview a:hover {
    text-decoration: underline;
}

.post-preview p a {
    color: aqua;
}

.post-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post-metadata {
    font-size: small;
    
}

.post-metadata ul, .post-metadata li {
    font-weight: normal !important;
}

.post-tags {
    list-style-type: none;
    padding: 0;
    display: inline;
}

.post-tags li {
    display: inline;
    margin-right: 20px;
}

.post-tags li:hover {
    text-decoration: underline;
}

.main {
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40%;
}

.item {
    flex: 0 0 calc(50% - 10px); /* 50% width minus gap */
    
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--boxColor);
    padding: 20px;
    box-sizing: border-box;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.project-card {
    border: 1px solid #444;
    border-radius: 5px;
    padding: 20px;
    background-color: var(--boxColor);
}
.project-card img {
    max-width: 100%;
    height: auto;
}

.cta {
    text-align: center;
    margin-top: 40px;
}
.cta a {
    border: 1px solid aqua;
    display: inline-block;
    background-color: var(--boxColor);
    color: aqua;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.hero-container {
    display: flex;
    align-items: flex-start;
}

.hero-img {
    flex: 0 0 150px;
    margin-right: 0;
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
}

img {
    border-radius: 15px;
}

.quote {
    font-style: italic;
    background-color: #181a1b;
    border-radius: 15px;
    padding: 5px 20px;
    margin-top: 20px;
}

strong {
    color: rgb(255, 255, 255);
}

pre {
    background-color: #0f0f0f;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    overflow-x: auto;
    position: relative;
    padding-top: 2.5em;
}

pre::before {
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em 1em;
    background-color: #444;
    color: white;
    font-family: sans-serif;
    font-size: 0.8em;
    border-radius: 5px 0 5px 0;
}

.program {
    font-family: monospace;
    color: #2bff00;
}